{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            {% include "navbar.html" %}
			<div class="jumbotron">
				<h1>
					Welcome To PISS<br>Private Image Storage Service
				</h1>
				<p>
					This is an private image storage service,
                    you can upload your pictures or images via this tool.
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="/login">Get Start with PISS</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>
				Free
			</h2>
			<p>
				TODO
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Security
			</h2>
			<p>
				TODO
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Quickly
			</h2>
			<p>
				TODO
			</p>
		</div>
	</div>
</div>
{% endblock %}