<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <h2>
                个人信息 <small>Personal Information</small>
            </h2>
        </div>
        <div>
            <ul style="font-size: 16px">
                <li>上次登录时间：{{ data.last_login_time }}<br /></li>
                <li>已来到PISS：{{ data.already_register_time }}天<br /></li>
                <li>上次登录IP：{{ data.last_login_ip}}<br /></li>
                <li>总共已上传图片数量：{{ data.images_number }}<br/></li>
            </ul>
        </div>
        <div id="return-result"></div>
    </div>
</div>
