<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <h2>
                使用帮助 <small>Usage and Help</small>
            </h2>
        </div>
        <div>
            <ul style="font-size: 18px">
                <li>本系统使用七牛存储作为图床，所以请先注册七牛账号，并在基本设置中填入相应的key来确保图片能够上传成功。</li>
                <li>Access Key和Secret Key请在七牛的个人中心中查看。</li>
                <li>bucket name为七牛空间的名称。</li>
                <li>自定义域名为七牛空间设置中的自定义域名，用于获取图片。</li>
                <li>目前该系统为测试版本，各种功能还不稳定，如果发现bug，请联系lightless@foxmail.com</li>
                <li>想贡献代码？请联系lightless@foxmail.com</li>
                <li><span style="color: #9C1A1C">支付宝捐赠：387210935@qq.com</span></li>
            </ul>
        </div>
        <div id="return-result"></div>
    </div>
</div>
